/**
 * @name the lowercasinator
 * @author momerob thiger a.k.a. modraws
 * @version 2.0.0
 * @description some goofass code i made to turn almost every string of text lowercase
 * @source https://github.com/modraws/lowercasinator
 */

/* i present to you: the lowercasinator!!!
   some goofass code i made to turn almost every string of text lowercase
   if there's any text that i missed, please bug me until i fix it :3 */

@import url("https://raw.githubusercontent.com/modraws/lowercasinator/refs/heads/main/mingefuck.css");

/* reason that i use an @import instead of pasting the code in here,
   is for the betterdiscord users that download this once and never touch it again 
   i still wanna make updates accessible for them you see */
