/**
 * @name the lowercasinator
 * @author momerob thiger a.k.a. modraws
 * @version 2.0.0
 * @description some goofass code i made to turn almost every string of text lowercase
 * @source https://github.com/modraws/lowercasinator
 */

/* i present to you: the lowercasinator!!!
   some goofass code i made to turn almost every string of text lowercase
   if there's any text that i missed, please bug me until i fix it :3 */

@import url("https://raw.githubusercontent.com/modraws/lowercasinator/refs/heads/main/mingefuck.css");
@import url("https://raw.githubusercontent.com/modraws/lowercasinator/refs/heads/main/mingefuck-canaryfix.css");

/* if you want to change what text fields you want mixedcase, copy this exception list to your customcss
   then you can manually add or remove yourself
   i am not providing a list of options you'll have to find those out yourself sorry :3 */

.messageContent_c19a55, .c19a557985eb7793-messageContent, /* user message text */
.codeView__4d95d, ._4d95d73152192cf9-codeView, /* text file embeds */
.markup__75297, ._752971923a1e6683-markup, /* About Me text and activity descriptions */
.pronounsText__63ed3, ._63ed30c16c7151f2-pronounsText, /* pronouns */
.text__10651, ._10651c5cfe637db6-text, .badge__10651, ._10651c5cfe637db6-badge, /* server tags */
.postTitleText_faa96b, ._9a337c84ff86a914-title, ._00de6f6c14b53606-header, /* forum post titles */
.deviceOptionLabel_fe5040, ._12eefe2ddee412f1-deviceLabel, /* names of audio devices in settings */
[class*="inputDefault__"], [class*="input_"], [class*="input__"], input /* a few input thingies that should probably be mixedcase */
{
   text-transform: none !important;
}
