/* first, we make most of the text lowercase via the below code */

*, ::placeholder, .cf48127484dbde85-eyebrow, ._2b1f52e43a8f1c02-eyebrow, .f37cb1984c371ee5-name {text-transform: lowercase;}

/* then we use this actual fuckoffery of an exception list to make certain kinds of text Not Lowercase
   you can copypaste this into your custom css to edit it or add more entries if you really want i mean i'm not stopping you lmao */

/* .c19a557985eb7793-headerText *, /* usernames */
.c19a557985eb7793-messageContent span, /* user message text */
.c19a557985eb7793-messageContent code, /* user message codeblocks */
.f4758a8d6346d18b-nonVisualMediaItem a, /* user non-embedded upload and embedded audio filename */
._4d95d73152192cf9-textContainer span, /* user embedded text or code files */
._752971923a1e6683-markup *, /* embeds and about mes */
._10651c5cfe637db6-tagText, /* the little text inside a tag */
.ab86098b36386ff7-statusText, /* user status */
/* .b0dfc2ed9c57037d-overflow, /* many things, including user status, channel names and categories and a few more*/
._740174f3d6a2c8fe-textArea>div>div>div>span>span>span, /* message bar input */
.c322aadb96ff59c9-searchBar>div>div>div>div>div>div>span>span, /* search bar input */
.vc-notification-title, /* vencord in-app notifications */
._2666bc68709e8a16-backupCode span /* just in case for some reason your backup codes have capital letters in them, they shouldn't though */
{
   text-transform: none !important;
}
