/* first off, we immediately make most of the text lowercase via :root
   i say most of, because this doesn't get every little thing,
   so i'll also add a fucking giant list of things that :root didn't grab

   i don't suggest commenting out anything, that might break stuff;
   instead please copy-paste the entry you don't want to be lowercase, to the list further below */

::placeholder {text-transform: lowercase !important;}

:root,
.f37cb1984c371ee5-name, /* server names in the channel list */
._5d473ecff348c314-username, /* usernames in the sidebar*/
.c19a557985eb7793-username, /* usernames in the chat */
.c19a557985eb7793-messageContent, /* user message text */
._4d95d73152192cf9-codeView, /* text file embeds */
._752971923a1e6683-markup, /* About Me text and activity descriptions */
._972a0d22c8afa7f0-activityStatusText, /* statuses */
._63ed30c16c7151f2-pronounsText, /* pronouns */
._10651c5cfe637db6-text, ._10651c5cfe637db6-badge, /* server tags */
.faa96b2163f6a142-postTitleText, /* forum post titles */
.deviceOptionLabel_fe5040 /* names of audio devices in settings */
._9d78f306fb3bc112-emptyText, /* "no friends in common" */
button, [class*="buttonChildren__"], /* text in buttons*/
[class*="unreadMentionsBar_"], /* unread */
[class*="errorMessage_"], /* basically all error messages */
[class*="protip_"], /* idk why the protips aren't capitalised but hey here you go */
[class*="header__"], /* basically all headers */
._14245bb948377a25-headerLabel, /* mfw the above thing didn't work for gif and sticker categories */
._55c999adcf6db265-queryText, /* the "search for" text */
.b717a15017b82443-eyebrow, /* some specific text in the settings */
._623de82e76ad7f82-embedAuthorName, ._623de82e76ad7f82-embedTitle, ._623de82e76ad7f82-embedFieldName, ._623de82e76ad7f82-embedFieldValue, ._623de82e76ad7f82-embedDescription, ._623de82e76ad7f82-embedFooterText, ._623de82e76ad7f82-embedProvider, /* embed stuff */
.cf48127484dbde85-eyebrow, /* setting categories */
.vc-friend-codes-info-header, /* who the hell even uses friend codes though */
._201d5e8a3c09670a-contents, /* view full bio */
._7aaec78b97ff00f7-barText, /* new unreads/mentions */
.eb2cd27996d667df-text, .c04f357ea00ccf57-optionHeader, /* server creation modal */
._0f481cbbd7530492-barButtonBase, /* mark as read */
._82f0793afa59e5dc-botText, /* app text */
.vc-notification-title, /* vc stands for vencord if you were wondering */
.goalText_eff079, .progressText_eff079, /* boost progress bar */
._0f481cbbd7530492-topicsPillTextTitle, ._0f481cbbd7530492-topicsDropdownHeadingText, ._0a12b61b88654e0a-text, /* summaries heading text */
.e97453749c8b22b3-title, .sube97453749c8b22b3-title, .e97453749c8b22b3-timestamp, /* summaries themselves lol */
.ac6cb02cd15b4b3b-input, ._30cbe28ac3d3507e-pro, ._71961da99d37ac57-match, ._71961da99d37ac57-note, .ac6cb02cd15b4b3b-miscContainer, /* stuff pertaining to the quick switcher */
[class*="tipTitle_"], .e9cb00d6250845ad-statusTag, ._61c9355cca12ab4b-key, .a562c840daab72a7-markValue, .ttsSliderMarker__5d148, .a16aea1526925c2c-searchInput, ._2debea61131de3de-info, [class*="title_"], .c1e9c47c23f12ca3-labelContainer /* miscellaneous stuff */
{
   text-transform: lowercase !important;
}

/* next up, an exception list, for those things that we do want mixedcase
   this includes usernames, messages, and more 
   add or remove anything you like, i prefer these settings myself */

.c19a557985eb7793-messageContent, /* user message text */
._4d95d73152192cf9-codeView, /* text file embeds */
._752971923a1e6683-markup, /* About Me text and activity descriptions */
._63ed30c16c7151f2-pronounsText, /* pronouns */
._10651c5cfe637db6-text, .badge__10651, ._10651c5cfe637db6-badge, /* server tags */
._9a337c84ff86a914-title, ._00de6f6c14b53606-header, /* forum post titles */
._12eefe2ddee412f1-deviceLabel, /* names of audio devices in settings */
[class*="inputDefault__"], [class*="input_"], [class*="input__"], input /* a few input thingies that should probably be mixedcase */

{
   text-transform: none !important;
}
